<p>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" 
    aria-controls="multiCollapseExample1 multiCollapseExample2">Crear Titulo</button>
  </p>
  <div class="row">
    <div class="col">
      <div class="collapse multi-collapse" id="multiCollapseExample1">
          <div class="container">
              <h1>User Form</h1>
              <form [formGroup]="userForm"  (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <label for="id">Id</label>
                  <input type="number" class="form-control" id="id" formControlName="id" required>
                </div>
                <div class="form-group">
                  <label for="title">Title</label>
                  <input type="text" class="form-control"
                  required minlength="3"  id="title" formControlName="title"  required>                
                  <div *ngIf="userForm.get('title').errors && userForm.get('title').dirty">
                    <p *ngIf="userForm.get('title').hasError('required')">Campo Requerido</p>
                  </div>
                </div>
                <button class="btn btn-success"
                 type="submit" [disabled]="userForm.invalid">Submit</button>
              </form>
              <p>
                Form Status: {{ userForm.status }}
              </p>
          </div>
          
      </div>
    </div>
  </div>
  <div class="container">
      <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Title</th>
              <th scope="col">Update</th>
              <th scope="col">Delete</th>

            </tr>
          </thead>
          <tbody *ngFor="let user of users">
            <tr>
              <th scope="row">{{user.id}}</th>
              <td>{{user.title}}</td>
              <td><button type="submit" class="btn btn-primary"  (click)="editUser(user.id)"><i class="material-icons">
                  update
                  </i></button></td>
              <td><button  type="submit" (click)=" suppressUser(user.id)" class="btn btn-danger"><i class="material-icons">
                  delete
                  </i></button></td>
            </tr>
          </tbody>
        </table>
  </div>
